header {
    display:block;
    background-color:#501de7;
    color:white;
    text-align:center;
    padding:5px;
    border-radius: 15px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px;
    border-style:solid; 
    border-color:#501de7;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}
footer {
    background-color:#501de7;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    border-radius: 15px; 
}